.login {
    display: block;
    margin: 0 auto;
    margin-top: 5;
}

.center {
    text-align: center;
}

.signup {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.error {
    text-align: center;
    color: red;
    font-weight: bold;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

body {
    padding-top: 50px;
}

.fame {
    padding-top: 100px;
}
